<div class="login-form">
  <div class="main-div">
    <form id="Login" (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="panel">
        <h2>
          Register
        </h2>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" formControlName="email">
        <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('required')">Username is
          required</div>
        <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('minlength')">Username should be 3
          characters min</div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
        <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is
          required</div>
      </div>
      <div class="forgot">
        <!--<a href="reset.html">Forgot password?</a>-->
        <!--[disabled]="userForm.invalid"-->
      </div>
      <button type="submit" class="btn btn-primary">Sign Up!</button>

    </form>
  </div>
</div>
