<button class=" btn" (click)="openModal('resource-modal')">+</button>
<app-modal id="resource-modal" title="section Resources">
  <div class="login-form">
    <div class="">
      <form id="resource_description" (ngSubmit)="addResource()" [formGroup]="resourceForm" >
        <div class="form-group">
          <input type="email" class="form-control"  placeholder="Resource name" formControlName="name">
          <div *ngIf="resourceNamelCtrl.dirty && resourceNamelCtrl.hasError('required')">required</div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control"  placeholder="General description" formControlName="description">
          <div *ngIf="resourceDescriptionCtrl.dirty && resourceNamelCtrl.hasError('required')">required</div>
        </div>
        <div class="form-group">
          <input type="number" class="form-control"  placeholder="Number of instances" formControlName="resourceInstances">
          <div *ngIf="resourceInstancesCtrl.dirty && resourceNamelCtrl.hasError('required')">required</div>
        </div>
        <div class="form-group">
          <input type="number" class="form-control"  placeholder="booking capacity per instance" formControlName="bookingCapacityIndex" >
          <div *ngIf="resourceBookingCapacityIndexCtrl.dirty && resourceNamelCtrl.hasError('required')">required</div>
        </div>
        <button type="submit" [disabled]="resourceForm.invalid" class="btn btn-primary gray">Add</button>

      </form>
    </div>
  </div>
</app-modal>
