<div class="login-form">
  <div class="main-div">
    <form id="Login">
      <div class="panel">
        <h2>
        Add user to workspace
      </h2>
      </div>
      <div class="form-group">
        <input type="text" readonly class="form-control company" id="inputEmail" placeholder="Company Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="inputPassword" placeholder="email">
      </div>

      <button type="submit" class="btn btn-primary">Add User</button>

    </form>
  </div>
</div>
