@import './variables';
@import './mixins';
@import "./bulma-calendar.min.css";
@import "~angular-calendar/css/angular-calendar.css";

@import
'~bootstrap/scss/functions',
'~bootstrap/scss/variables',
'~bootstrap/scss/mixins',
'~bootstrap/scss/print',
'~bootstrap/scss/_nav',
'~bootstrap/scss/_navbar',
'~bootstrap/scss/reboot',
'~bootstrap/scss/type',
'~bootstrap/scss/forms',
'~bootstrap/scss/grid';

html, body {
  height: 100vh;
}
body {
  user-select: none;
}
input, textarea, [contenteditable=true] {
  user-select: text;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.btn {
  border: 1px solid ButtonFace;
  line-height: 20px;
  padding: 2px 8px;
}

/* MODAL STYLES
-------------------------------*/
app-modal {
  /* modals are hidden by default */
  display: none;

  .modal {
    /* modal container fixed across whole screen */
    width: 50vw;
    position: absolute;
    top: 0;
    right: 25vw;
    bottom: 0;

    /* z-index must be higher than .modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;

    .modal-body {
      padding: 20px;
      background: #fff;

      /* margin exposes part of the modal background */
      margin: 40px;
    }
  }

  .modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .modal and above everything else  */
    z-index: 900;
  }
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}


.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:24px; margin:0 0 20px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  width: 40vw;
  @media (max-width: 1000px) {
    width: 70vw;
  }
  background: #eee none repeat scroll 0 0;
  border-radius: 2px;
  margin: 50px auto 30px;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.form-control.company{
  background: #b9b7b7 !important;
}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left;
  margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}

.back { text-align: left; margin-top:10px;}
.flex-container {
  display: flex;
}
.gray{
  background-color: gray;
}