<div class="events">
	<div></div>
	<div class="timeline" #timelineHeaderRef>
		<app-timeline [width]="workareaWidth" [height]="30 - 4" [paddingLeft]="3"></app-timeline>
	</div>
	<div class="resources" #resourceHeaderRef>
		<app-resource-item
				*ngFor="let resource of resourceService.items; trackBy: trackByResources"
				[resource]="resource"
				[ngClass]="{ 'selected': this.selectionService.selected.includes(resource) }"
		>
		</app-resource-item>
	</div>
	<div class="workarea" (scroll)="scroll()" #workareaRef>
		<app-time-events
				*ngFor="let resource of resourceService.items; trackBy: trackByResources"
				[events]="getEventsByResource(resource)"
		>
		</app-time-events>
	</div>
</div>
<div class="users">
	<label>Event name:
		<input #eventName />
	</label>
	<!-- (click) passes input value to add() and then clears the input -->
	<button (click)="add(eventName.value); eventName.value=''">
		add
	</button>
</div>
