:host {
  flex-grow: 1;
  display: flex;
  min-height: 0;
  .events {
    flex-grow: 1;
    min-width: 0;
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 30px auto;
    .timeline {
      overflow-x: hidden;
    }
    .resources {
      overflow-y: hidden;
      padding-bottom: 20px;
    }
    .workarea {
      overflow: auto;
      position: relative;
    }
  }
  .users {
    width: 200px;
  }
}
