<div class="event-region">
	<div class="area-region">
		<div class="areas">
			<div *ngFor="let area of areaService.items" appSelectable="area" [item]="area">{{ area.name }}</div>
		</div>
		<button>+</button>
		<div></div>
	</div>
	<div class="grid-region">
		<div class="grid">
			<div></div>
			<div class="timeline" #timelineHeaderRef>
				<app-timeline [width]="workareaWidth" [height]="30" [paddingLeft]="3"></app-timeline>
			</div>
			<div class="resources" #resourceHeaderRef>
				<app-resource-item
						*ngFor="let resource of resourceService.items; trackBy: trackByResources"
						[resource]="resource"
						appSelectable="resource"
						[item]="resource"
				>
				</app-resource-item>
			</div>
			<div class="workarea" (scroll)="scroll()" #workareaRef>
				<div>
					<svg [attr.width]="workareaWidth" [attr.height]="workareaHeight">
						<rect fill="url(#week-timeline-pattern)" stroke="none" width="100%" height="100%"/>
					</svg>
					<div class="time-events">
						<app-time-events
								*ngFor="let resource of resourceService.items; trackBy: trackByResources"
								[resource]="resource"
						>
						</app-time-events>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="user-region">
	<label>Event name:
		<input #eventName />
	</label>
	<!-- (click) passes input value to add() and then clears the input -->
	<button (click)="add(eventName.value); eventName.value=''">
		add
	</button>
	<app-user-form></app-user-form>
	<app-user-item
			*ngFor="let user of userService.items; trackBy: trackByUsers"
			[user]="user"
			appSelectable="user"
			[item]="user"
			draggable="true"
	></app-user-item>
</div>
