<!-- <header>Edit Canvas</header>
<form method="dialog" (ngSubmit)="onSubmit()" #areaForm="ngForm">
  <section class="form">
    <div>
      <label for="name-input">Name</label>
      <div>
        <input type="text" id="name-input" required [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>
    </div>
  </section>
  <menu>
    <div>
      <button type="button" class="btn-remove">Remove canvas</button>
    </div>
    <div>
      <button type="submit" [disabled]="!areaForm.form.valid">Ok</button>
      <button type="reset">Cancel</button>
    </div>
  </menu>
</form> -->
<form class="subarea" (ngSubmit)="onSubmit()" #areaForm="ngForm">
  <div class="row">
    <div class="col-sm-3 service-name">
      <label for="name-input">Service name</label>
      <div>
        <input type="text" id="name-input" required />
      </div>
    </div>
    <div class="col-sm-3">
      <label for="des-input">Service descripton</label>
      <div>
        <input type="text" id="des-input" required />
      </div>
    </div>
  </div>
</form>
