<svg [attr.width]="width + 20" [attr.height]="height">
	<defs>
		<pattern id="day-timeline-pattern" patternUnits="userSpaceOnUse" [attr.width]="timelineService.dayWidth" height="14">
			<line stroke="ButtonFace" stroke-width="1" x1="0.5" y1="0" x2="0.5" y2="14"/>
		</pattern>
		<pattern id="week-timeline-pattern" patternUnits="userSpaceOnUse" [attr.width]="timelineService.dayWidth * 7" height="14">
			<rect [attr.x]="timelineService.dayWidth * (6 - timelineService.startFrom.getDay())" [attr.width]="timelineService.dayWidth" height="14" fill="cornsilk"/>
			<rect [attr.x]="timelineService.dayWidth * ((7 - timelineService.startFrom.getDay()) % 7)" [attr.width]="timelineService.dayWidth" height="14" fill="cornsilk"/>
			<rect [attr.width]="timelineService.dayWidth * 7" height="14" fill="url(#day-timeline-pattern)"/>
		</pattern>
	</defs>
	<rect fill="url(#week-timeline-pattern)" stroke="none" [attr.y]="height - 14" width="100%" height="14"/>

	<line stroke="ButtonFace" stroke-width="1" [attr.y1]="height - 14.5" [attr.x2]="width + 20" [attr.y2]="height - 14.5"/>
	<text [attr.x]="paddingLeft" [attr.y]="height - 18">{{ timelineService.startFrom | date:'MMMM y' }}</text>
	<text [attr.x]="paddingLeft" [attr.y]="height - 2">{{ timelineService.startFrom | date:'dd' }}</text>
	<g *ngFor="let i of fitDays | fill">
		<text
				[attr.x]="i * timelineService.dayWidth + paddingLeft"
				[attr.y]="height - 18"
				*ngIf="isFirstDay(addDays(i))"
		>{{ addDays(i) | date:'MMMM y' }}</text>
		<text [attr.x]="i * timelineService.dayWidth + paddingLeft" [attr.y]="height - 2">{{ addDays(i) | date:'dd' }}</text>
	</g>
</svg>
