<header>
	<h1>{{title}}</h1>
	<nav>
		<button  *ngIf="isAuthenticated" class="btn btn-primary" (click)="logOut()">Log out</button>
		<a *ngIf="!isAuthenticated" routerLink="/">Home</a>
		<a *ngIf="!isAuthenticated" routerLink="/signup">Register</a>
		<a *ngIf="isAuthenticated" routerLink="/company/add">add Workspace</a>
        <a *ngFor="let workspace of workspaces" [routerLink]="[workspace.name,'events']">{{workspace.name}}</a>
		<!--<a *ngIf="workspace" routerLink="/dashboard">Dashboard</a>
		<a *ngIf="workspace" routerLink="['/events']">Events</a>-->
	</nav>
</header>
<router-outlet></router-outlet>
<app-messages></app-messages>
