:host {
  width: 500px;
  background-color: ButtonFace;
  border: 1px solid;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  box-shadow: 2px 3px 5px ButtonShadow;
  transition: transform 50ms ease-out;
  transform: scale(.5);
  padding: 0;
  &.in {
    transform: scale(1);
  }
  &.inactive ::ng-deep > * > header {
    background-color: InactiveCaption;
    color: InactiveCaptionText;
    border-color: InactiveBorder;
  }
  ::ng-deep > * {
    > header, section.form > div > * {
      padding: 3px 8px;
    }
    > header {
      background-color: ActiveCaption;
      color: CaptionText;
      border: 1px solid ActiveBorder;
      font-size: 14px;
    }
    form {
      padding: 12px 12px;
      legend {
        font-size: 12px;
      }
    }
    section.form {
      display: table;
      width: 100%;
      margin: 5px 0;
      > div {
        display: table-row;
        > label:first-child {
          text-align: right;
          padding-right: 0;
          font-size: 14px;
        }
        > * {
          display: table-cell;
        }
        > div:last-child input {
          width: 100%;
        }
      }
    }
    menu {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      padding: 0;
      .btn-remove {
        background-color: indianred;
        color: white;
      }
    }
  }
}
