@import '~sass/variables';
@import '~sass/mixins';

:host {
  position: absolute;
  display: block;
  height: $cell-height - 1;
  background-color: aliceblue;
  &:hover {
  }
  &.selected {
    @include selected();
  }
  a {
    &:hover {
    }
  }
}
