@import '~sass/variables';

:host {
  position: absolute;
  display: block;
  height: $cell-height - 1;
  background-color: aliceblue;
  &:hover {
  }
  &.selected {
    background-color: Highlight;
    color: HighlightText;
  }
  a {
    &:hover {
    }
  }
}
