.area-region {
  display: flex;
  > button, .areas > app-area-item {
    border: 1px solid ButtonFace;
    border-right-width: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    line-height: 20px;
    padding: 2px 8px;
  }
  .areas {
    display: flex;
    > app-area-item {
      cursor: default;
      position: relative;
      &:focus {
        outline: none;
      }
      &.current {
        border-bottom-color: transparent;
      }
      ::ng-deep input {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 2px -8px;
      }
    }
  }
  > button {
    border-right-width: 1px;
    margin: 0;
  }
  > div:last-child {
    flex-grow: 1;
    border-bottom: 1px solid ButtonFace;
  }
}
