<div class="area-region">
  <div class="areas" dnd-sortable-container [sortableData]="areas">
    <app-area-item class="btn"
        *ngFor="let area of areas; trackBy: trackByAreas; let i = index"
        [area]="area"
        appSelectable="area" [item]="area"
        dnd-sortable [sortableIndex]="i" (onDropSuccess)="areaDropped($event, area, i)"
        (dblclick)="startEdit()"
    >
    </app-area-item>
  </div>
  <button class="btn-primary" (click)="openModal('area-modal')">Sections</button>
  <button class=" btn-primary" (click)="openModal('user-modal')">Users</button>
  <button class=" btn-primary" (click)="openModal('client-modal')">Clients</button>
  <a  [routerLink]="['../book']">Create Event</a>
  <a  [routerLink]="['../dashboard']"> &nbsp; Dashboard</a>
  <a  [routerLink]="['../book']">&nbsp; Check-in</a>
  <a  [routerLink]="['../dashboard']"> &nbsp; Check-out</a>
  <div></div>
</div>

<app-area-form *ngIf="editing" [model]="areaSelectionService.current"></app-area-form>

<app-modal id="area-modal" title="Company sections" >
 <div class="login-form">
  <div class="">
    <form id="sections" (ngSubmit)="addArea()" [formGroup]="areaForm" >
      <div class="form-group">
        <input type="email" class="form-control" id="inputName" placeholder="Section name" formControlName="name">
        <div *ngIf="areaNameCtrl.dirty && areaNameCtrl.hasError('required')">Username is
          required</div>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="inputDescriptiob" placeholder="description" formControlName="description">
        <div *ngIf="areaDescriptionCtrl.dirty && areaDescriptionCtrl.hasError('required')">Username is
          required</div>
      </div>
      <button type="submit" [disabled]="areaForm.invalid" class="btn btn-primary gray">Add</button>

    </form>
  </div>
  </div>
</app-modal>

<app-modal id="user-modal" title="Workspace Users" >
  <span *ngFor="let user of users" style="padding: 5px">{{user | json}}</span>
  <div class="login-form">
    <div class="">
      <form id="Users" (ngSubmit)="addUser()" [formGroup]="userForm" >
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" formControlName="email">
          <div *ngIf="userEmailCtrl.dirty && userEmailCtrl.hasError('required')">Username is
            required</div>
        </div>
        <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary gray">Add</button>

      </form>
    </div>
  </div>
</app-modal>

<app-modal id="client-modal" title="workspace clients" >
  <span *ngFor="let client of clients" style="padding: 5px">{{client | json}}</span>
  <div class="login-form">
    <div class="">
      <form id="Clients" (ngSubmit)="addClient()" [formGroup]="clientForm" >
        <div class="form-group">
          <input type="text" class="form-control"  placeholder="Name" formControlName="name">
          <div *ngIf="clientNameCtrl.dirty && clientNameCtrl.hasError('required')">Username is
            required</div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control"  placeholder="Email Address" formControlName="email">
          <div *ngIf="clientEmailCtrl.dirty && clientEmailCtrl.hasError('required')">Username is
            required</div>
        </div>
        <button type="submit" [disabled]="clientForm.invalid" class="btn btn-primary gray">Add</button>

      </form>
    </div>
  </div>
</app-modal>

