<div class="grid">
  <div></div>
  <div class="timeline" #timelineHeaderRef>
    <app-timeline [width]="workareaWidth" [height]="30" [paddingLeft]="3"></app-timeline>
  </div>
  <div class="resources" #resourceHeaderRef>
    <app-resource-item
        *ngFor="let resource of resources; trackBy: trackByResources"
        [resource]="resource"
        appSelectable="resource"
        [item]="resource"
    >
    </app-resource-item>
    <button class=" btn" (click)="openModal('resource-modal')">+</button>
  </div>
  <div class="workarea" #workareaRef>
    <div>
      <svg [attr.width]="workareaWidth" [attr.height]="workareaHeight">
        <rect fill="url(#week-timeline-pattern)" stroke="none" width="100%" height="100%"></rect>
      </svg>
      <div class="time-events">
        <app-time-events
            *ngFor="let resource of resources; trackBy: trackByResources"
            [resource]="resource"
        >
        </app-time-events>
      </div>
    </div>
  </div>
  <app-modal id="resource-modal" title="Section Resources" >
    <app-tabs>
      <app-tab [tabTitle]="'Resource'">
        <div class="login-form">
          <div class="">
            <form id="resource_description" >
              <div class="form-group">
                <input type="email" class="form-control"  placeholder="Resource name" >
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="General description" >
              </div>
              <div class="form-group">
                <input type="number" class="form-control"  placeholder="Number of instances" >
              </div>
              <div class="form-group">
                <input type="number" class="form-control"  placeholder="booking capacity index" >
              </div>
              <button type="submit" [disabled]="true" class="btn btn-primary gray">Add</button>

            </form>
          </div>
        </div>
      </app-tab>
      <app-tab [tabTitle]="'Descriptions'">
        <div class="login-form">
          <div class="">
            <form id="resource_descriptions" >
              <div class="form-group">
                <input type="email" class="form-control"  placeholder="description key" >
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="description value" >
              </div>
              <button type="submit" [disabled]="true" class="btn btn-primary gray">Add</button>
            </form>
          </div>
        </div>
      </app-tab>
      <app-tab [tabTitle]="'Prices'">
        <div class="login-form">
          <div class="">
            <form id="resource_prices" >
              <div class="form-group">
                <input type="money" class="form-control"  placeholder="Pricing name" >
              </div>
              <div class="form-group">
                <input type="money" class="form-control"  placeholder="Fixed charge" >
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Resource booking class" >
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Period of use" >
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="discount" >
              </div>
              <button type="submit" [disabled]="true" class="btn btn-primary gray">Add</button>
            </form>
          </div>
        </div>
      </app-tab>
    </app-tabs>
  </app-modal>
</div>
