
<app-booking-slider [(value)]="minValue" [(highValue)]="maxValue"
                    (userChangeStart)="onUserChangeStart($event)"
                    (userChange)="onUserChange($event)"
                    (userChangeEnd)="onUserChangeEnd($event)" style="left: 100px; position: absolute;">
</app-booking-slider>
<span class="container" style=" margin-top: 100px; position: absolute;">
{{dateRange ? dateRange : ''}}
</span>
<div  style=" margin-top: 120px; position: absolute;">
    <div class="flex-contain" >
        <div class="product-card" *ngFor="let resource of resources">
            <div class="product-details">
                <span class="product-catagory">area.name</span>
                <h4><a href="">{{resource.name}}</a></h4>
                <p>{{resource.description}}</p>
                <div class="product-bottom-details">
                    <!--<div class="product-price"><small>$96.00</small>$230.99</div>-->
                    <div class="product-links">
                        <a href="" (click)="openModal('area-modal', resource)">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<app-modal id="area-modal" title="Book Resource" >
    <div class="login-form">
        <div class="">
            <div>{{dateRange ? dateRange : ''}}</div>
            <div class="flex-contain" >
                <div class="product-card" >
                    <div class="product-details" *ngIf="resource" >
                        <h4><a href="">{{resource.name}}</a></h4>
                        <p>{{resource.description}}</p>
                    </div>
                </div>
            </div>
            <form id="sections" (ngSubmit)="createReservation()" [formGroup]="bookingForm"  >
                <div class="form-group">
                    <select class="form-control" formControlName="userEmail">
                        <option>client detail</option>
                        <option *ngFor="let client of clients" [value]="client.email">{{client.email}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="ob" placeholder="price" formControlName="costOfService">
                    <div *ngIf="priceCtrl.dirty && priceCtrl.hasError('required')">price is
                        required</div>
                </div>
                <button type="submit" [disabled]="bookingForm.invalid" class="btn btn-primary gray">Make reservation</button>

            </form>
        </div>
    </div>
</app-modal>
